# eclipse parts
bin/
.metadata
.lck
.classpath
.project
.settings/

# intelliJ parts
*.iml
.idea
*/out

# gradle parts
.gradle/

# Build artifacts at all
*.class
build/
*.jar
*.log
*.bak

web/node_modules/
**/out
**/.DS_Store
